<!Doctype html>
<html lang='en'>
    <head><meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="forgotpassword.css">
        <title>forgotpassword</title>
    </head>
<body>
    <div class="ask">
        <h1>AskBMS</h1>
    </div>
    <div class="login-page">
        <div class="form-box">
            
            <div class="button-box">
                <h1 class="lg">Password</h1>
                    

                    <div>
                        
                        <form id="login" class="login-data">
                            <input type="text" class="input-data" placeholder="Enter new Password" required>
                            <input type="password" class="input-data" placeholder=" Confirm Password" required> 
                            <button type="submit" class="submit-button">Submit</button>
                        </form>

                    </div>
             
            </div>

        </div>
    </div>
</body>
</html>
</body>