<!Doctype html>
<html lang='en'>
    <head><meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/login1.css">
        <link rel="stylesheet" href="/stylesheets/validation.css">
        <title>login</title></head>
<body>
    <div class="login-page">
        <h1 class="ask">AskBMS</h1>
        <div class="form-box">
            
            <div class="button-box">
                <h1 class="lg"> Login</h1>
                    

                    <div>
                        
                        <form id="login" class="login-data" action="/home">
                            <input type="text" class="input-data" placeholder="USN" required>
                            <input type="password" class="input-data" placeholder="Password" required>
                            <p class="forgot"><a href="/login/forgotpassword">Forgot Password</a></p>
                           
                            <button type="submit" class="submit-button">Login</button>
                        </form>

                    </div>
                </div>

            </div>
        </div>

                    <form id="form">
                    <div>
                        <label for="username">User Name</label>
                        <i class="fas fa-user"></i>
                        <input type="text" name="username" id="username" placeholder="Joy Shaheb" />
                        <i class="fas fa-exclamation-circle failure-icon"></i>
                        <i class="far fa-check-circle success-icon"></i>
                        <div class="error"></div>
                      </div>
                      <div>
                        <label for="email">Email</label>
                        <i class="far fa-envelope"></i>
                        <input type="email" name="email" id="email" placeholder="abc@gmail.com" />
                        <i class="fas fa-exclamation-circle failure-icon"></i>
                        <i class="far fa-check-circle success-icon"></i>
                        <div class="error"></div>
                      </div>
                      <div>
                        <label for="password">Password</label>
                        <i class="fas fa-lock"></i>
                        <input type="password" name="password" id="password" placeholder="Password here" />
                        <i class="fas fa-exclamation-circle failure-icon"></i>
                        <i class="far fa-check-circle success-icon"></i>
                        <div class="error"></div>
                      </div>
                  
                      <button type="submit" id="submit">Submit</button>
                    </form>
            
    <script src="javascripts/validation.ja"></script>
</body>
</html>