*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
    
}

body{
    background-image: url('/images/bms2.jpg');
    background-size: cover;
}


.ask{
    text-align: center;
    font-size: 95px;
}

.ask h1{
    font-size: 105px;
    margin: 50px;
    
}

 
p{
    width: 400px;
    height: 200px;
    border: 20px;
    padding: auto;
    float: left;
    margin: 50px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.9;
    

}

#p1{
    background-color: green;
   font-size: 65px;
   padding: top 15px;

  
}

#p2{
    background-color: rebeccapurple;
    font-size: 65px;
   padding: top 15px;
}

#p3{
    background-color:palegoldenrod;
    font-size: 65px;
   padding: top 15px;
}

.size{
    font-size: small;
    padding: 10px;
    background: transparent;
    
    
}

.size a{
    background-color: transparent;
    color: black;
    font-size: 16px;
}

.size1{
    font-size: medium;
    color: white;
}

 a:hover{
     background-color:none;
}

p:hover{
    background-color: red;
}

